/* inter-regular - latin */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/res/fonts/inter-v12-latin-regular.eot');
    src: url('/res/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/res/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/res/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/res/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/res/fonts/inter-v12-latin-regular.svg#Inter') format('svg');
}


/* inter-900 - latin */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/res/fonts/inter-v12-latin-900.eot');
    src: url('/res/fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/res/fonts/inter-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/res/fonts/inter-v12-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/res/fonts/inter-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/res/fonts/inter-v12-latin-900.svg#Inter') format('svg');
}